.input{
    position: absolute;
    left: 170px;
}
.inputLong{
    width: 454px;
}
.inputSmall{
    width: 84px;
}
.inputShort{
    width: 200px;
}
.lable{
    position: relative;
    display: block;
    margin: 3px;
}
.inputTextarea{
    display: block;
    width: 620px;
    height: 50px;
}
.errorL{
    position: absolute;
    left: 640px;
    top: 0;
    color: red;
    font-size: 13px;
    display: none;
}
.errorS{
    position: absolute;
    left: 440px;
    top: 0;
    color: red;
    font-size: 13px;
    display: none;
}
.errorVisib{
    display: block;
}